<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pay for your application - Get a document legalised – GOV.UK</title>
    <!--[if gt IE 8]><!--><link href="/api/payment/styles/govuk/stylesheets/govuk-template.css?0.15.1" media="screen" rel="stylesheet" type="text/css" /><!--<![endif]-->
    <!--[if IE 6]><link href="/api/payment/styles/govuk/stylesheets/govuk-template-ie6.css?0.15.1" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 7]><link href="/api/payment/styles/govuk/stylesheets/govuk-template-ie7.css?0.15.1" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]><link href="/api/payment/styles/govuk/stylesheets/govuk-template-ie8.css?0.15.1" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if IE 8]>
    <script type="text/javascript">
        (function(){if(window.opera){return;}
            setTimeout(function(){var a=document,g,b={families:(g=
                            ["nta"]),urls:["/govuk/stylesheets/fonts-ie8.css?0.15.1"]},
                    c="/govuk/javascripts/vendor/goog/webfont-debug.js?0.15.1",d="script",
                    e=a.createElement(d),f=a.getElementsByTagName(d)[0],h=g.length;WebFontConfig
                    ={custom:b},e.src=c,f.parentNode.insertBefore(e,f);for(;h=h-1;a.documentElement
                    .className+=' wf-'+g[h].replace(/\s/g,'').toLowerCase()+'-n4-loading');},0)
        })()
    </script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <link href="/api/payment/styles/govuk/stylesheets/fonts.css?0.15.1" media="all" rel="stylesheet" type="text/css" />
    <!--<![endif]-->
    <!--[if lt IE 9]>
    <script src="/api/payment/styles/govuk/javascripts/ie.js?0.15.1" type="text/javascript"></script>
    <![endif]-->

    <!--<link rel="shortcut icon" href="favicon.ico?0.15.1" type="image/x-icon" />-->

    <!-- Size for iPad and iPad mini (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/api/payment/styles/govuk/images/apple-touch-icon-152x152.png?0.15.1">
    <!-- Size for iPhone and iPod touch (high resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/api/payment/styles/govuk/images/apple-touch-icon-120x120.png?0.15.1">
    <!-- Size for iPad 2 and iPad mini (standard resolution) -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/api/payment/styles/govuk/images/apple-touch-icon-76x76.png?0.15.1">
    <!-- Default non-defined size, also used for Android 2.1+ devices -->
    <link rel="apple-touch-icon-precomposed" href="/api/payment/styles/govuk/images/apple-touch-icon-60x60.png?0.15.1">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="/api/payment/styles/govuk/images/opengraph-image.png?0.15.1">

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/api/payment/styles/application.css">
    <link rel="stylesheet" href="importer.css">
</head>


<body class="">
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,
            m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-145652997-1', 'auto', 'govuk_shared', {'allowLinker': true});
    ga('govuk_shared.require', 'linker');
    ga('govuk_shared.linker.set', 'anonymizeIp', true);
    ga('govuk_shared.send', 'pageview');
</script>
<script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

<div id="skiplink-container" class="noPrint">
    <div>
        <a href="#content" class="skiplink">Skip to main content</a>
    </div>
</div>

<div id="global-cookie-message">
    <p> GOV.UK uses cookies to make the site simpler.<a  href="/cookies"  target="_blank" >Find out more about cookies<span class="visually-hidden"> opens in new window</span></a></p>

</div>
<!--end global-cookie-message-->



<header role="banner" id="global-header" class="with-proposition noPrint">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <%if(service_public){%>
                <a href="<%= govuk_url%>" title="Go to the gov.uk homepage" id="logo" class="content">
                    <img src="/api/payment/images/gov.uk_logotype_crown.png" style="width:35px height:31px" alt="Foreign & Commonwealth Office"> GOV.UK
                </a>
                <%}else{%>
                <a href="/" title="Go to the homepage" id="logo" class="content">
                    <img src="/api/payment/images/gov.uk_logotype_crown.png" style="width:35px height:31px" alt="Foreign & Commonwealth Office"> FCO
                </a>
                <%}%>
            </div>
        </div>
        <div class="header-proposition">
            <div class="content">
                <!-- <a href="#" class="js-header-toggle menu">Menu</a>-->
                <nav id="proposition-menu">
                    <%if(service_public){%>
                    <a href="<%= start_url%>" id="proposition-name">Get a document legalised</a>
                    <%}else{%>
                    <a href="/" id="proposition-name">Get a document legalised</a>
                    <%}%>
                </nav>

            </div>
        </div>
    </div>
</header>



<div id="global-header-bar" class="noPrint"></div>
<!--end global-header-bar-->
<main id="content" role="main">

    <div class="phase-banner noPrint">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="<%= feedbackURL%>" target="_blank">feedback<span class="visually-hidden"> opens in new window</span></a> will help us to improve it.</span>
        </p>
    </div>