{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% set assetPath = '/api/payment' -%}

{% block pageTitle %}Pay for your application - Get a document legalised – GOV.UK {% endblock %}

{% block head %}
    <link rel="stylesheet" href="/api/payment/govuk-frontend/govuk-frontend.min.css?v={{ globals.cacheBust or '' }}">
    <link rel="stylesheet" href="/api/payment/styles/application.css?v={{ globals.cacheBust or '' }}">
    <link rel="stylesheet" href="importer.css?v={{ globals.cacheBust or '' }}">
{% endblock %}

{% set serviceName = "Get a document legalised" %}
{% set serviceUrl = "/" %}

{% block headerEnd %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" target="_blank" href="' + globals.feedbackURL +'">feedback<span class="govuk-visually-hidden"> opens in new window</span></a> will help us to improve it.'
  }) }}
{% endblock %}
 
{% block footerEnd %}
    <script type="module" src="/api/payment/govuk-frontend/govuk-frontend.min.js?v={{ globals.cacheBust or '' }}"></script>
    <script type="module">
        import { initAll } from '/api/payment/govuk-frontend/govuk-frontend.min.js?v={{ globals.cacheBust or '' }}';
        initAll();
    </script>
    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);

        (function() {
            var u="//web-analytics.fco.gov.uk/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', {{ piwikID}} ]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p class="hide"><img src="//web-analytics.fco.gov.uk/piwik/piwik.php?idsite={{ piwikID }}&rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
{% endblock %}

