
<% include partials/header %>

<div class="container">

    <div class="intro column-two-thirds">
        <br />
        <p><%= errorMessage %></p>
        <br />
        <a href="<%= startNewApplicationUrl %>" id="start" role="button" class="button">Start again</a>
    </div>

</div>

<% include partials/footer %>