<% pageTitle = "Session expired - Get a document legalised – GOV.UK" %>

    <% include partials/header %>

    <div class="container">

        <h1 class="heading-xlarge">Your application has timed out</h1>

        <div class="intro column-two-thirds">

            <p>You haven't entered any details for 30 minutes, so we've cleared your information to keep it secure.</p>
            <ul>
                <li><a href="<%= startNewApplicationUrl %>">Start a new application</a></li>
                <li><a href="https://www.gov.uk">GOV.UK home page</a></li>
            </ul>

        </div>

    </div>

    <% include partials/footer %>
