
<% include ../partials/header %>

<div class="container">

    <h1 class="heading-xlarge">Check your payment amount</h1>

    <div class="intro column-two-thirds">

        <p>You will be charged <b>£<%=cost%></b> as an additional payment for your legalisation application.</p>
        <p>You will now be taken to GOV.UK Pay, where you will be asked to provide your payment details.</p>

        <!-- PAYMENT FORM -->
        <form action="<%= next_url %>">

            <div class="form-group">

                <button type="submit" class="govuk-button" data-module="govuk-button">Pay</button>

            </div>

        </form>

    </div>

</div>

<% include ../partials/footer %>
